{% load static %}
{% block title %}
<title>Login</title>
{% endblock %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    	<!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.png' %}">
		
		<!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
		
		<!-- Fontawesome CSS -->
        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
		
		<!-- Feathericon CSS -->
        <link rel="stylesheet" href="{% static 'css/feathericon.min.css' %}">
		
		<!-- Main CSS -->
        <link rel="stylesheet" href="{% static 'css/style.css' %}">

	    <!-- Feathericon CSS -->
        <link rel="stylesheet" href="{% static 'plugins/fullcalendar/fullcalendar.min.css' %}">
            
          
</head>
<body>
{% block content %}
    <!-- Main Wrapper -->
    <div class="main-wrapper login-body">
        <div class="login-wrapper">
            <div class="container">
                <div class="loginbox">
                    <div class="login-left">
                        <img class="img-fluid" src="{% static '/img/logo-white.png' %}" alt="Logo">
                    </div>
                    <div class="login-right">
                          
                            <br>
                        <div class="text-center">
                           <p class="font-weight-bold" style="color:#884DA7"> You signed up successfully.</p>
                           <p class="font-weight-bold" style="color:#884DA7"> Unfortunately you can not Login.</p> 
                           <p class="font-weight-bold" style="color:#884DA7"> Please wait while you are granted privileges.</p> 
                        </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Main Wrapper -->
		<!-- jQuery -->
        <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
		
		<!-- Bootstrap Core JS -->
        <script src="{% static 'js/popper.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/jquery.min.js' %}"></script>
		
		<!-- Slimscroll JS -->
        <script src="{% static 'plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>
        <script src="{% static 'plugins/fullcalendar/fullcalendar.min.js' %}"></script>
        <script src="{% static 'plugins/fullcalendar/jquery.fullcalendar.js' %}"></script>
		
		<!-- Custom JS -->
		<script  src="{% static 'js/script.js' %}"></script>
	
		<!-- Sticky Sidebar JS -->
        <script src="{% static 'plugins/theia-sticky-sidebar/ResizeSensor.js' %}"></script>
        <script src="{% static 'plugins/theia-sticky-sidebar/theia-sticky-sidebar.js' %}"></script>
		
		<!-- Datetimepicker JS -->
		<script src="{% static 'js/moment.min.js' %}"></script>
		<script src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
		
    </body>

<!-- Mirrored from dreamguys.co.in/demo/doccure/admin/blank-page.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 30 Nov 2019 04:12:53 GMT -->
</html>

{% endblock content %}