{% extends "base.html" %}
{% load static %}
{% block content %}
{% block title %}
<title>Dépot</title>
{% endblock %}
<!-- Main Wrapper -->
<div class="main-wrapper">
    <!-- Page Wrapper -->
    <div class="page-wrapper">
        <div class="content container-fluid">
            <!-- Page Header -->
            <div class="page-header">
                <div class="row">
                    <div class="col-sm-12">
                        <h3 class="page-title  bg-white">Dépots</h3>
                    </div>
                </div>
            </div>
            <!-- /Page Header -->
            <div class="row bg-white">
            <div class="col-xl-3 col-sm-6 col-12">
                <div class="card">
                    <div class="card-body bg-white">
                        <div class="dash-widget-header">
                            <span class="dash-widget-icon text-primary border-primary">
                                <i class="fe fe-folder"></i>
                            </span>
                            <div class="dash-count">
                                <h3>  {{ warehouse_count }}  </h3>
                            </div>
                        </div>
                        <div class="dash-widget-info">
                            <h6 class="text-muted">Total</h6>
                            <div class="progress progress-sm">
                                <div class="progress-bar bg-primary w-50"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        
            {% comment %} <div class="row bg-white"> {% endcomment %}
                {% comment %} <div class="row bg-white"> {% endcomment %}
                    {% comment %} <div class="col-sm-12 bg-white"><div> 
                        <a href="">
                            <button class="btnn"> New </button> </a>
                        </div>
                        <br>
                        </div>
                        <div class="col-sm-12 bg-white"><div> 
                            <div class="card bg-white">
                                <div class="card-body bg-white">
                                    <div class="table-responsive bg-white">
                                        <table class="table table-hover table-center mb-0 bg-white">
                                            <thead class="bg-white">
                                                <tr>
                                                    <th></th>
                                                    <th>Search</th>
                                                    <th>Type</th>
                                                    <th>Date</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <form action="" method="GET">
                                                   
                                                   <tr>
                                                        <td>
                                                            <td>
                                                                <input class="form-control mr-sm-2 bg-white" type="search" placeholder="Search" aria-label="Search" name="name">
                                                            </td>
                                                        </td>
                                                        <td>
                                                            <select class="form-control select bg-white" name="project_type" >
                                                                											
                                                            </select></td>
                                                        <td> 
                                                            <input type="date" class="form-control bg-white" name="started_date" >
                                                        </td>
                                                    </tr> 
                                                     <input type="submit" value="submit" class="btnn" >
                                               </form>
                                            </tbody>
                                            
                                        </table>
                                    
                                    </div>
                              </div>
                            </div> {% endcomment %}
                <div class="col-sm-12 bg-white">
                    <div class="tab-content bg-white">	
                        <!-- Appointment Tab -->
                        <div id="pat_appointments" class="tab-pane fade show active bg-white">
                            <div class="card card-table mb-0 bg-white">
                                <div class="card-body bg-white">
                                    <div class="table-responsive bg-white">
                                        <table class="table table-center mb-0 bg-white">
                                            <thead class="bg-white">
                                                <tr>
                                                    <th>Dépots</th>
                                                    <th>address</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for warehouse in warehouses %}
                                                <tr>
                                                    <td><a href="{% url 'inventory:warehousedetail' warehouse.pk %}"> {{warehouse.name}} </a></td>
                                                    <td class="d-block text-info"> {{warehouse.address}} </td>
                                                    <td class="text-right">
                                                        <div class="table-action">
                                                            <a href="{% url 'inventory:editwarehouse' warehouse.pk %}" class="btn btn-sm ">
                                                                 Modifier
                                                            </a>
                                                        </div>
                                                    </td>
                                                </tr>
                                               {% endfor %}
                                            
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /Appointment Tab -->
                    </div>
                </div>			
    </div>
    <br>
    <!-- /Page Wrapper -->

</div>
<!-- /Main Wrapper -->
{% endblock content %}