{% extends "base.html" %}
{% load static %}
{% block content %}
{% block title %}
<title>Dashboard</title>
{% endblock %}
<!-- Main Wrapper -->
<div class="main-wrapper bg-white">
		<!-- Page Wrapper -->
    <div class="page-wrapper">
      <div class="content container-fluid">

<!-- Page Header -->
<div class="page-header bg-white">
  <div class="row bg-white">
    <div class="col-sm-12 bg-white">
      <h3 class="page-title bg-white">Dashboard</h3> 
    </div>
  </div>
</div>
<!-- /Page Header -->

  <!-- Recent Orders -->
  
 
  <!-- /Recent Orders -->

  <!-- Feed Activity -->
  
  
  <!-- /Feed Activity -->


  
 
  
  </div>


</div>
<!-- /Page Wrapper -->

</div>
<!-- /Main Wrapper -->

{% endblock content %}